header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    background-color: #FFFFFF;
}

.header__links-list {
    display: flex;
    justify-content: flex-start;
    gap: 28px;
    margin: 133px auto 130px 50px;
    padding-bottom: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 100%;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.header__links-list-item {
    padding-left: 5px;
}

.header-logo {
    display: block;
}

.header__logo-image {
    margin: 92px auto 91px;
    width: 148px;
    height: 105px;
}

.address {
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    align-items: flex-start;
    max-width: 240px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 24.3px;
}

.header__address {
    margin: 95px 50px 95px 184px;
    padding: 0 5px 5px 3px;

}

.cover {
    position: relative;
    min-height: 757px;
    z-index: 0;
    background: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.overlay {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-color: #000;
    opacity: 0.6;
}

.cover__title {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.aligned-text {
    justify-items: flex-end;
    align-items: center;
}

.aligned-text_left {
    padding-top: 165px;
    padding-left: 50px;
    padding-bottom: 20px;

}

.aligned-text_center {
    padding-left: 380.5px;
    padding-bottom: 20px;

}

.aligned-text_right {
    padding-left: 663px;
}

.cover__description {
    display: flex;
    justify-items: center;
    align-items: center;
    position: relative;
    padding: 106px 50px 50px 50px;
    z-index: 1;
}

.cover__description-text {   
    padding-right: 107px; 
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    word-spacing: 18.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.bet-button {
    background: transparent;
    border: 1px solid #FFFFFF;
    padding: 12px 32px 11px 31px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.lots {
    margin: 180px 24px 120px;
}

.lots__heading {
    padding-left: 40px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #000000;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding-top: 27px;
    padding-bottom: 30px;
}

.lots__card-list-item {
    list-style: none;
    min-height: 596px;
    max-width: 334px;
}

.card-link {
    min-height: 100%;
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card__title {
    margin: 48px 40px auto;
    z-index: 1;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration: underline;
    text-transform: uppercase;
    color: #FFFFFF;
}

.card__text {
    margin: auto 40px 48px;
    z-index: 1;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
    padding-left: 40px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.about {
    display: grid;
    grid-template-columns: 334px 693px;
    column-gap: 25px;
    margin: 120px 24px auto;
}

.about__logo {
    display: flex;
    justify-self: center;
    margin-top: 35px;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: #000000;
}

.about__logo-image {
    height: 114px;
    justify-self: center;
    align-self: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.about__column {
    padding-top: 136px;
}

.about__title {
    padding-bottom: 100px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
}

.about__text {
    display: grid;
    gap: 25px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

footer {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 400px 300px 400px;
    margin-top: 180px;
    margin-bottom: 82px;
}

.footer-address {
    margin-left: 50px;
}

.footer__menu-list {
    list-style: none;
}

.footer__menu-list-item {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-self: end;
    gap: 48px;
    margin-right: 50px;
    list-style: none;
}

.footer__social-list-item {
    width: 48px;
    height: 48px;
}

/* Стили для макета готовго сайта
.pixel-perfect-image {
    position: absolute;
    width: 1100px;
    top: 0;
    opacity: 0.5;
}
*/